# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pd_*
examples/simpletest/simpletest

# VS files
*.sdf
*.tlog

# sublime 

*sublime*

# Python byte code
*.pyc

# Doxygen
doc/latex
doc/html
doc/doxygen-build.stamp
doc/documentation.doxygen

