NAME := xttest
SUFFIX := .cpp
DIRS := .
LIBRARY :=
FLAGS := -I../include -std=c++0x
FLAGS += $(EXTRA_FLAGS)

ifeq ($(OS),Windows_NT)
    LDDEPS := ../src/libxtract.lib
else
    LDDEPS := ../src/libxtract.a
endif

LDFLAGS := $(LDDEPS)

ifneq ($(OS),Windows_NT)
    ifeq ($(PLATFORM), Darwin)
        LDFLAGS += -framework Accelerate
    endif
endif

LDFLAGS += $(EXTRA_FLAGS)
